
.container-fluid{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
      
}

.jumbotron img{
    width: 100%;
} 

.row{

 
    background-color: rgb(85, 78, 78);
    
    
}

h1{
padding-top: 50px;
padding-bottom: 50px;
color: white;

}

h2{
    padding-bottom: 50px;
}


h3{
    text-align: justify;
    font-style: italic;
}

p{
    padding: 20px;

    color: white;
}

